<h1>Thanks for your comment!!</h1>
<p><a href="/places/<%= @place[:id] %>" class="btn btn-primary"><%= "Back to " + @place[:neighborhood] %></a></p>
<p><a href="/" class="btn btn-secondary">Go home</a></p>